body {
  @include sprites($spritesheet-sprites);
}

.btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;

  &:hover {
    box-shadow: 5px 4px 7px rgba(0, 0, 0, 0.25);
  }
  &.primary {
    background-color: #5c94b7;
    width: 60px;
    height: 67px;
    .text {
      margin-bottom: 2px;
    }
  }

  &.ajuda {
    background-color: #5c94b7;
    width: 141px;
    height: 67px;
    justify-content: center;
    .text {
      margin-bottom: 2px;
    }
  }

  &.red-button {
    background-color: #e63946;
    width: 221px;
    height: 70px;
    justify-content: center;
    .text {
      font-size: 29px;
    }
  }
}

.text-help-data {
  color: black;
  font-family: Rosario;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px;
}

ul {
  color: black;
  font-family: Rosario;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  list-style: circle;
}

.text-bold {
  font-family: Rosario;
  color: black;
  font-size: 13px;
  font-weight: bold;
}
