.t11 {
  font-size: 11px;
}

.t9 {
  font-size: 9px;
}

.t15 {
  font-size: 15px !important;
}

.t25 {
  font-size: 25px;
}

.t30 {
  font-size: 30px;
}

.t22 {
  font-size: 22px !important;
}

.z10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}
